name: Build and lint frontend

on:
  pull_request:
  push:
  schedule:
    - cron: '0 16 * * 5'  # Every Friday 4pm
  workflow_dispatch:

jobs:
  build_and_lint_frontend:
    name: Build and lint frontend
    runs-on: ubuntu-24.04
    defaults:
      run:
        working-directory: jawanndenn/frontend/
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238  # v6.2.0
        with:
          node-version: 23

      - name: Install Node dependencies
        run: |-
          npm ci

      - name: Build the frontend
        run: |-
          npm run build

      - name: Lint frontend files
        run: |-
          npm run lint

      - name: Enforce that all files match auto-formatting
        run: |-
          npm run format
          git diff --exit-code  # i.e. fail CI if there is a diff

      - name: Enforce that file package-lock.json remains in sync
        run: |-
          npm install --package-lock-only
          git diff --exit-code  # i.e. fail CI if there is a diff
