name: Build and test using Docker

on:
  pull_request:
  push:
  schedule:
    - cron: '0 16 * * 5'  # Every Friday 4pm
  workflow_dispatch:

jobs:
  build_and_test:
    name: Build and test using Docker
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633  # v4.1.2

      - name: Set up Python 3.12
        uses: actions/setup-python@82c7e631bb3cdc910f68e0081d67478d79c6982d  # v5.1.0
        with:
          python-version: 3.12

      - name: Install dependencies
        run: |-
          pip install \
            --disable-pip-version-check \
            --user \
            --no-warn-script-location \
            'docker<7' \
            'PyYAML==5.3.1' \
            'urllib3<2' \
            docker-compose
          echo "PATH=${HOME}/.local/bin:${PATH}" >> "${GITHUB_ENV}"

      - name: Configure Docker environment
        run: |-
          docker network create --internal ssl-reverse-proxy
          tee .env <<-EOF
            JAWANNDENN_POSTGRES_NAME=jawanndenn111
            JAWANNDENN_POSTGRES_USER=jawanndenn222
            JAWANNDENN_POSTGRES_PASSWORD=jawanndenn333
            JAWANNDENN_SECRET_KEY=jawanndenn444
          EOF

      - name: Build Docker image
        run: |-
          docker-compose build

      - name: Run tests using Docker
        run: |-
          docker-compose run jawanndenn test -v2
