name: Detect .dockerignore out-of-sync with git ls-files

on:
  pull_request:
  push:
  schedule:
    - cron: '0 16 * * 5'  # Every Friday 4pm
  workflow_dispatch:

jobs:
  dockerignore_detect_out_of_sync:
    name: Detect .dockerignore out-of-sync with git ls-files
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2

      - name: Check for out-of-sync .dockerignore
        run: |-
          diff -U0 <(./generate_whitelist_dockerignore_file.sh) .dockerignore
